.Welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.WelcomeBox1 {
    padding: 2rem;
    width: 35%;
    height: 50%;
}

.WelcomeBox2 {
    padding: 2rem;
    width: 65%;
    height: 50%;
}

.ProfilePic {
    height: 50%;
    width: 50%;
    border-radius: 10px;
    border: 1px solid black;
  }