/* * {
  border: 2px solid red;
} */

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.Left {
  width: 9%;
}

.Right {
  width: 9%;
}

.Center {
  width: 80%;
}
