.Navigation {
    display: flex;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start;
    padding: 1rem;
    border-bottom: 4px solid black;
}

.NavigationText:link {
	text-decoration: none;
	color: black;
}

.NavigationText:visited {
	text-decoration: none;
	color: black;
}

.NavigationText:hover {
	text-decoration: none;
	transform: scale(1.3);
	color: black;
}

.NavigationText:active {
	text-decoration: none;
	color: black;
}

