.Imgshield {
    width: 70%;
}

.skills {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: flex-start;
    padding: 1rem
}

.SoftwareSkills {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.LeftTitle {
    width: 30%;
}